In [1]:
name = "James Bond"

name

'James Bond'

In [2]:
name[0]

'J'

### Whiteboard

- Use the whiteboard to teach string indexing

In [3]:
name[1]

'a'

In [4]:
name[6]

'B'

In [5]:
name[-1]

'd'

In [6]:
name[-2]

'n'

In [7]:
name_length = len(name)

name_length

10

In [8]:
name[name_length - 1]

'd'

In [9]:
name[name_length]

IndexError: string index out of range

In [ ]:
name[2] = "n"

In [ ]:
a, b, c, d, e, f, g, h, i, j = name

In [10]:
a

NameError: name 'a' is not defined

In [11]:
b

NameError: name 'b' is not defined

In [12]:
c

NameError: name 'c' is not defined

In [13]:
i

NameError: name 'i' is not defined

In [14]:
j

NameError: name 'j' is not defined

In [15]:
a, b, c, d, e = name

ValueError: too many values to unpack (expected 5)

In [16]:
a, b, c, _, _, _, _, _, _, _ = name

In [17]:
a

'J'

In [18]:
b

'a'

In [19]:
c

'm'

### String slicing

In [20]:
name[:5]

'James'

In [21]:
name[:3]

'Jam'

In [22]:
name[6:]

'Bond'

In [23]:
name[3:]

'es Bond'

In [24]:
name[1:4]

'ame'

In [25]:
name[3:7]

'es B'

In [26]:
name[3::]

'es Bond'

In [27]:
name[:4:]

'Jame'

In [28]:
name[::1]

'James Bond'

In [29]:
name[::2]

'JmsBn'

In [30]:
name[::3]

'JeBd'

In [31]:
name[::-1]

'dnoB semaJ'

### String functions

- Note that the original string is not changed

In [32]:
name.startswith("Jam")

True

In [33]:
name.endswith("bond")

False

In [34]:
name.count("J")

1

In [35]:
name = "Ella Fitzgerald"

name.count("a")

2

In [36]:
lower_name = name.lower()

lower_name

'ella fitzgerald'

In [37]:
name

'Ella Fitzgerald'

In [38]:
upper_name = name.upper()

upper_name

'ELLA FITZGERALD'

In [39]:
name

'Ella Fitzgerald'

In [40]:
new_name = name.replace("Ella", "Emma")

new_name

'Emma Fitzgerald'

In [41]:
name

'Ella Fitzgerald'

In [42]:
some_string_with_spaces = "    Spaces before and after.   "

print("***" + some_string_with_spaces + "***")

***    Spaces before and after.   ***

In [43]:
print("***" + some_string_with_spaces.lstrip() + "***")

***Spaces before and after.   ***

In [44]:
print("***" + some_string_with_spaces.rstrip() + "***")

***    Spaces before and after.***

In [45]:
print("***" + some_string_with_spaces.strip() + "***")

***Spaces before and after.***

### Other string operations

In [46]:
first_name = "John"
last_name = "Doe"

full_name = first_name + " " + last_name

print(full_name)

John Doe

In [47]:
echo = "Howdy! " * 3

print(echo)

Howdy! Howdy! Howdy!

In [48]:
print("***" * 5)

***************

In [49]:
sentence = "Python is a fun programming language!"

In [50]:
"fun" in sentence

True

In [51]:
"Python" in sentence

True

In [52]:
"python" in sentence

False

In [53]:
"python" in sentence.lower()

True

In [54]:
words = sentence.split()

words

['Python', 'is', 'a', 'fun', 'programming', 'language!']

In [55]:
recreated_sentence = " ".join(words)

print(recreated_sentence)

Python is a fun programming language!

In [56]:
recreated_sentence = "|".join(words)

print(recreated_sentence)

Python|is|a|fun|programming|language!

### Coding Practice

- Use the input() function to ask the user for their first name and last name, then print the concatenated full name.

### Coding Practice

- Assign a string to the variable word (any string).
- Print the first and last characters of the string using indexing.
- Slice and print the first three characters 
- Slice and print the last three characters of the string.

### Coding Practice

- Use the input() function to get a string from the user.
- Print the length of the string using the len() function.
- Convert the string to uppercase and lowercase, and print the results.

### Coding Practice

- Use the input() function to ask the user for their name and age.
- Print a formatted string that says "Hello, [name]! You are [age] years old." using f-strings.
- Try the same exercise using the format() method.