In [1]:
50000

50000

In [2]:
50000 - 15000

35000

In [3]:
35000 + 8000

43000

In [4]:
salary = 50000

In [5]:
salary

50000

In [6]:
print(salary)

50000

In [7]:
name = "Nora Jones"

print(name)

Nora Jones

In [8]:
age

NameError: name 'age' is not defined

### ChatGPT

- Show how you can paste in errors to ChatGPT and get responses

In [19]:
age = 25

Age = 35

AGE = 45

_age = 55

age_1 = 65

In [20]:
print("age: ", age)
print("Age: ", Age)
print("AGE: ", AGE)
print("_age: ", _age)
print("age_1: ", age_1)

age:  25
Age:  35
AGE:  45
_age:  55
age_1:  65

In [21]:
1_age = 25

SyntaxError: invalid decimal literal (2552566879.py, line 1)

In [22]:
-age = 25

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2536639518.py, line 1)

In [9]:
a = 88

b = 56

c = 101

In [10]:
print(a, b, c)

88 56 101

Can reuse variables - new value will replace the old value in the variable

In [13]:
result_sum = a + b

result_sum

144

In [14]:
result_sum = b + c

result_sum

157

In [15]:
print(result_sum)

157

In [16]:
income_tax = 5000

retirement_contribution = 1800

professional_tax = 300

In [17]:
net_salary = salary - (income_tax + retirement_contribution + professional_tax)

net_salary

42900

### Coding Practice

- Initialize 3 variables with student's scores for math, english, science
- Compute the total score and store it in a new variable
- Print out the value of the total score
- Compute the average score and store in a variable
- Print out the value of the average score

In [23]:
math_score = 89

english_score = 75

science_score = 93

In [24]:
total_score = math_score + english_score + science_score

print("Total score: ", total_score)

Total score:  257

In [25]:
average_score = (math_score + english_score + science_score) / 3

print("Average score: ", average_score)

Average score:  85.66666666666667

In [26]:
first_name = "James"

last_name = "Bond"

In [27]:
first_name + last_name

'JamesBond'

In [29]:
full_name = first_name + " " + last_name

full_name

'James Bond'

In [54]:
salary_joe = salary_cara = salary_rob = 10000

In [55]:
salary_joe

10000

In [56]:
salary_cara

10000

In [57]:
salary_rob

10000

In [58]:
salary_rob == salary_cara

True

In [59]:
salary_joe = salary_joe + 1000

salary_joe

11000

In [60]:
salary_cara, salary_rob

(10000, 10000)

In [61]:
salary_cara = salary_cara * 1.12

salary_cara

11200.000000000002

In [62]:
salary_joe, salary_rob

(11000, 10000)

In [63]:
salary_rob = salary_rob - salary_rob * 0.03

salary_rob

9700.0

In [64]:
salary_rob == salary_cara

False

### Coding Practice

- Assign bank balances to Nancy, Derek, and Marlene
- Bank balances should have the same value i.e. 5000
- Nancy withdraws 100
- Derek makes a deposit equal to 5% of his existing balance
- Marlene withdraws 500 and then deposits 20% of the new balance (after 200 was withdrawn)
- Show all of these operations in code and print out the resulting balances

In [68]:
balance_nancy = 5000
balance_derek = 5000
balance_marlene = 5000

In [72]:
balance_nancy = balance_derek = balance_marlene = 5000

In [73]:
balance_nancy = balance_nancy - 100

print("Nancy's balance after withdrawal: ", balance_nancy)

Nancy's balance after withdrawal:  4900

In [74]:
balance_derek = balance_derek - 0.05 * balance_derek

print("Derek's balance after deposit: ", balance_derek)

Derek's balance after deposit:  4750.0

In [75]:
balance_marlene = balance_marlene - 500

balance_marlene = balance_marlene + 0.2 * balance_marlene

print("Marlene's balance after withdrawal and deposit: ", balance_marlene)

Marlene's balance after withdrawal and deposit:  5400.0

### Data Types

In [77]:
score = 78

gpa = 3.7

is_active = True

name = "Charles"

In [84]:
print("Score: ", score)
print("GPA: ", gpa)
print("Is active: ", is_active)
print("Name: ", name)

Score:  78
GPA:  3.7
Is active:  True
Name:  Charles

In [78]:
type(score)

int

In [79]:
type(gpa)

float

In [80]:
type(is_active)

bool

In [81]:
type(name)

str

In [82]:
result = score + gpa

print("The final result is: ", result)

The final result is:  81.7

In [83]:
result = score + is_active

print("The final result is: ", result)

The final result is:  79

In [85]:
result = score + True

print("The final result is: ", result)

The final result is:  79

In [86]:
result = score + False

print("The final result is: ", result)

The final result is:  78

In [87]:
result = score + name

print("The final result is: ", result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Multiple variable assignments

In [91]:
score, gpa, is_active, name = 52, 3.2, False, "Dora"

### ChatGPT

- Ask ChatGPT what this code does

In [92]:
print("Score: ", score)
print("GPA: ", gpa)
print("Is active: ", is_active)
print("Name: ", name)

Score:  52
GPA:  3.2
Is active:  False
Name:  Dora

In [93]:
score, gpa, is_active, name = "Dora", False, 52, 3.2

In [94]:
print("Score: ", score)
print("GPA: ", gpa)
print("Is active: ", is_active)
print("Name: ", name)

Score:  Dora
GPA:  False
Is active:  52
Name:  3.2

### Assignment operators

In [106]:
number = 10

number

10

In [107]:
number = number + 100

number

110

In [108]:
number += 100

number

210

In [109]:
number = number * 2

number

420

In [110]:
number *= 2

number

840

In [111]:
number = number / 3

number

280.0

In [112]:
number /= 3

number

93.33333333333333

In [113]:
number = number - 10

number

83.33333333333333

In [114]:
number -= 10

number

73.33333333333333

In [115]:
number = number // 5

number

14.0

In [116]:
number //= 5

number

2.0

In [117]:
number = 35

number = number % 6

number

5

In [118]:
number = 35

number %= 6

number

5

In [119]:
number = 3

number = number ** 4

number

81

In [120]:
number = 3

number **= 4

number

81

In [124]:
first_name

'James'

In [125]:
salary_cara

11200.000000000002

In [126]:
del first_name

first_name

NameError: name 'first_name' is not defined

In [127]:
del salary_cara

salary_cara

NameError: name 'salary_cara' is not defined

### NoneType

In [128]:
variable = None

In [129]:
type(variable)

NoneType